<!DOCTYPE HTML>
<html lang="ja">
    <%= partial_erb(:head) %>
    <body>
        <%= partial_erb(:navbar) %>
        <div class="container">
            <%= partial_erb(:header, :locals => {:title => "Label annotation", :subtitle => ''}) %>
            <%= partial_erb(:annotation_task_list, :locals => {:annotation => "label"}) %>
        </div>
    </body>
</html>
