<!-- Modal -->
<div class="modal fade" id="region_modal" tabindex="-1" role="dialog" aria-labelledby="region_modal_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="region_modal_title">Annotate region</h4>
            </div>
            <div class="modal-body">
                <div id="region_modal_regiondata"></div>
                <img id="region_modal_image" class="center-block">
                <hr>
                <div id="region_modal_regions">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="region_modal_register_button">Add / Update</a>
                <a class="btn btn-warning" id="region_modal_remove_button">Remove</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
